@font-face {
    font-family: 'FonteGamer';
    src: url(../fontes/Fun\ Games.ttf);
}

@font-face {
    font-family: 'FonteComum';
    src: url(../fontes/Gameplay.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(19, 14, 2);
}

#pulo {
    display: none;
}

#tituloGG {
    font-size: 100px;
    font-style: normal;
}

#titulo {
    cursor: default;
    text-align: center;
    font-style: normal;
    margin: 20px auto;
    font-family: "FonteGamer";
    font-size: 70px;
    text-transform: uppercase;
    color: #ffcdcd;
    text-shadow: 0 0 5px #ffd9d9, 0 0 10px #ffa7a7,
        0 0 15px #a82f2f, 0 0 20px #3a0a0a,
        0 0 35px #330303, 0 0 40px #240303;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main>a {
    border-radius: 5px;
    border: #db2727 solid;
    padding: 5px 10px;
    margin: 20px;
    font-family: "FonteComum";
    font-size: 30px;
    text-transform: uppercase;
    color: #ffd5d5;
    text-shadow: 0 0 5px #db2727, 0 0 10px #991717,
        0 0 15px #701919, 0 0 20px #581313,
        0 0 35px #410b0b
}

div#conta>a {
    border: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #240303;
    padding: 10px;
}

header>* {
    margin: 0;
    padding: 0;
}

#perfiluser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
}

#foto {
    border-radius: 100px;
    width: 80px;
}

#perfiluser>div {
    width: 300px;
    color: white;
    text-align: center;
}

#nomeperfil {
    height: 50px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#level {
    height: 10px;
    background-color: rgb(70, 0, 0);
    border-radius: 5px;
}

#xp {
    height: 10px;
    border-radius: 5px;
}

#logincadastro {
    color: #ffd5d5;
    text-shadow: 0 0 5px #db2727, 0 0 10px #991717,
        0 0 15px #701919, 0 0 20px #581313,
        0 0 35px #410b0b;
    text-decoration: underline;
    margin: 15px;
    font-weight: bold;
    font-family: 'FonteComum';
    letter-spacing: 1px;
}

@media (max-width: 500px) {
    #tituloGG {
        font-size: 80px;
    }

    #titulo {
        font-size: 60px;
    }

    #pulo {
        display: block;
    }

    #perfiluser {
        width: 300px;
    }

    #foto {
        width: 60px;
    }

    #perfiluser>div {
        width: 220px;
    }

    #nomeperfil {
        height: 50px;
        font-size: medium;
    }

    #level {
        height: 10px;
        background-color: rgb(70, 0, 0);
        border-radius: 5px;
    }

    #xp {
        background-color: greenyellow;
        height: 10px;
        width: 50%;
        border-radius: 5px;
    }
}